footer {
  width: 100%;
  background-color: #121214;
  color: #fff;
  .footer_container {
    max-width: 800%;
    display: flex;
    justify-content: space-evenly;
  }
  p {
    font-size: 12px;
  }
}
