<div class="container">
  <div class="card_container">
    <div class="card">
      <!-- <div class="icon_card">
        <span class="material-icons">face</span>
      </div> -->
      <div class="content_card">
        <h4>Front-end</h4>
        <p>
          Atualmente estou trabalhando em projetos utilizando as skills React,
          NextJs, Styled Components JavaScript, TypeScript...
        </p>
      </div>
    </div>
    <div class="card">
      <!-- <div class="icon_card">
        <span class="material-icons">face</span>
  
      </div> -->
      <div class="content_card">
        <h4>UI/UX Design</h4>
        <p>
          Sou um entusiasta de código e design criativo para assim criar uma
          melhor experiência do usuário na web.
        </p>
      </div>
    </div>
    <div class="card">
      <!-- <div class="icon_card">
        <span class="material-icons">face</span>
      </div> -->
      <div class="content_card">
        <h4>Freelance</h4>
        <p>
          "Iniciei minha jornada na área realizando projetos freelancer para
          amigos e empresas, o que me proporcionou valiosa experiência."
        </p>
      </div>
    </div>
    <div class="card">
      <!-- <div class="icon_card">
        <span class="material-icons">face</span>
      </div> -->
      <div class="content_card">
        <h4>WordPress</h4>
        <p>
          Experiência em desenvolvimento de sites e Landing pages com foco em
          performance e usabilidade..
        </p>
      </div>
    </div>
  </div>
</div>
