:host {
  display: block;
  padding: 4rem 2rem;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
ul:has(ul) {
  padding: 0%;
  list-style: none;
}

ul li:has(ul) {
  margin-top: 2rem;
  padding-bottom: 2rem;
  line-height: 2;
}
:host ul li:has(ul) {
  margin-left: 3rem;
}
// :host ul li:has(ul)::before {
//   content: '';
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   background-color: #b9b9b9;
// }

.education {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  .container {
    max-width: 720px;
  }
  section {
    margin-top: 2rem;
    line-height: 1.5;
    h2{
      font-size: 1rem;
    }
    h3 {
      color: #b9b9b9;
    }
    h4 {
      color: #ed8936;
    }
  }
}
