<app-modal *ngIf="generalService.showDialog"></app-modal>
<div class="project">
  <div class="container">
    <h2>Projetos</h2>
    <div class="project_body">
      <div class="row align-items-center" *ngFor="let project of projectsList">
        <div class="col-auto">
          <div class="logo-container">
            <img [src]="project.image" [alt]="project.title" class="image" />
          </div>
        </div>
        <div class="col card_description">
          <div class="row align-items-center">
            <div class="col">
              <a [href]="project.templateUrl" target="_blank" class="title">{{project.title}}</a>
            </div>
            <div class="col-auto">
              <div class="tags">
                <span class="tag">{{ project.technologies }}</span>
              </div>
            </div>
          </div>
          <div class="description">
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
