.project {
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
  padding-top: 9rem;
  display: flex;
  justify-content: center;
  background-color: #121214;
  .project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .container {
    max-width: 800px;
    
  }
  .project_body {
    padding: 1rem;

  }
  .logo-container {
    display: inline-block;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }

  .title {
    font-weight: bold;
    font-size: 1rem;
    color: #ed8936;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  h2{
    color: #ed8936;
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .tags {
    list-style-type: none;
    display: flex;
    font-size: 0.875rem;
    color: #EDF2F7;
    font-weight: 700;
  }
  
  .tag {
    margin-right: 0.5rem;
    margin-top: 1px;
    font-size: 0.75rem;
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
  }
  
  .description {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: pre-line;
    overflow: hidden;
    background: #2D3748;
    margin-bottom: 3rem;
  }
  .card_description {
    width: 40%;
    border-radius: var(--chakra-radii-lg);
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
    // margin-left: -6rem;
    display: contents;

  }
  
  @keyframes expandHeight {
    from {
      height: 0;
    }
    to {
      height: auto;
    }
  }
  
  .description.collapsed {
    height: 2.5rem;
    overflow: hidden;
  }
  
  .description.expanded {
    animation: expandHeight 0.3s ease-in-out;
    overflow: visible;
  }
  
  
}


