<nav class="my-first">
    <div class="navbar_container">
      <ul class="logo_container">
        <li class="logotype">
          <a routerLink="/">VS</a>
        </li>
        <li class="burger" (click)="toggleMenu()">
          <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }} </i>
        </li>
      </ul>

    <ul class="menu_container">
      <li class="menu" [class.is-open]="isMenuOpen">
        <a class="menu-item" routerLink="/">Home</a>
        <a class="menu-item" routerLink="/about">Sobre</a>
        <a class="menu-item" routerLink="/skills">Skills</a>
        <a class="menu-item" routerLink="/projects">Portfólio</a>
        <a class="menu-item" routerLink="/contact">Contato</a>
      </li>
    </ul>
  </div>
</nav>
