<div class="container">
  <div class="profile">
    <div class="profile-bg"></div>
    <img src="../../assets/img/vagner.jpg" alt="">
  </div>
  <div class="title">
    <!-- <span>Meu Portfólio</span> -->
    <div class="name">
      <h1><h2>Hey!</h2> 👋</h1>
      <span><br>Meu nome é Vagner e sou desenvolvedor Front End.</span><br>
      <span>Este é meu portfolio, onde posto meus projetos,</span><br>
      <span>trabalhos e compartilho o que aprendi. 😊</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="highlights">
    <div class="about">
      <span class="sub-title">Sobre:</span>
      <span>◉ Freelance: Disponivel</span>
      <span>◉ Localização: Brasil - São Paulo</span>
      <span>◉ Hobbies: Filmes, Séries e Games</span>
    </div>
  </div>
</div>
<div class="container">
  <app-card></app-card>
</div>

